{% extends 'base.html' %}
{% block title %}Editar alerta{% endblock title %}

{% block content %}
<div class="d-flex align-items-center justify-content-start gap-3">
    <h2>Atualizando o seguinte alerta: </h2>
    <div class="text-decoration-none btn btn-primary">
        <div class="justify-content-center align-items-center d-flex" style="max-width: 300px">
            <p class="m-0"><span class="fw-bold">{{ object.get_alert_type_display|safe }}</span> ${{ object.value }}</p>
        </div>
    </div>
</div>
<h6 class="text-secondary"><span class="fw-bold">Criptomoeda: </span>{{ object.cryptocurrency.name }} ({{ object.cryptocurrency.symbol }})</h6>

<div class="card mb-5">
    <form action="{% url 'crypto_alert_update' object.id %}" method="post">
        <div class="card-body">
          {% csrf_token %}
          {{ form.as_p }}
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-success me-2">Salvar mudanças</button>
          <a href="{% url 'crypto_alert_delete' object.id %}" class="btn btn-danger">Excluir alerta</a>
        </div>
    </form>
</div>

<p>
    
</p>

<a href="{% url 'crypto_detail' object.cryptocurrency.id %}" class="btn btn-secondary"> &laquo; Voltar para informações da criptomoeda</a>


{% endblock content %}